ACTION=="add", SUBSYSTEM=="input", TEST=="power/control", ATTR{power/control}="on"
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/autosuspend" ATTR{power/autosuspend}="-1"
KERNEL=="ttyACM0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="mesh-telem.service"
