[package]
name = "meshtastic-telemetry-daemon-rs"
version = "0.1.12"
edition = "2024"
license = "MIT"
authors = ["Gatlin Newhouse"]
description = "Daemon to read Meshtastic packets and send telemetry to postgres"
keywords = ["OpenWRT", "AREDN", "Meshtastic"]
readme = "./README.md"
repository = "https://github.com/coffee-and-telesense/meshtastic-telemetry-daemon-rs"
categories = ["command-line-utils"]

[dependencies]
# Handle errors gracefully
anyhow = { version = "1.0", default-features = false }
# Handle clocks, no wasm
chrono = { version = "0.4", default-features = false, features = ["now"] }
# Debug logger
colog = { version = "1.3", optional = true }
# Handle config reading
config = { version = "0.15", default-features = false, features = [
  "async",
  "toml",
] }
# Derive new functions for structs
derive-new = { version = "0.7", default-features = false }
# Logger
log = { version = "0.4", default-features = false }
# My fork of the meshtastic protocol library with updated protobufs---no serde
meshtastic = { git = "https://github.com/gatlinnewhouse/meshtastic-rust.git", branch = "stable-science", default-features = false, features = ["tokio", "serde"] }
# Serialize/deserialize, add deriving trait
serde = { version = "1.0", default-features = false, features = ["derive"] }
# Serialize/deserialze json, mainly print debugging
serde_json = { version = "1.0", default-features = false, features = [
  "alloc",
] }
# Handle system signals correctly
signal-hook = { version = "0.4", default-features = false }
# Postgres connection
sqlx = { version = "0.8", default-features = false, features = ["postgres", "chrono", "macros", "json"] }
# Release logger
syslog = { version = "7.0", optional = true }
# Async runtime with tokio::main macro
tokio = { version = "1.43", features = ["macros"] }

[features]
default = ["debug", "native-tls"]
perf = []

# stdout/logging config:
debug = ["dep:colog", "anyhow/std", "anyhow/backtrace"]
print-packets = ["meshtastic/serde"]
syslog = ["dep:syslog"]
trace = []

# TLS config:
native-tls = ["sqlx/runtime-tokio-native-tls"]
rustls = ["sqlx/runtime-tokio-rustls"]

# Specific shorthand targets
alpine = ["syslog", "native-tls"]
beaglebone = ["rustls", "debug"]

[profile.dev]
debug = 1
strip = false

# This release profile was found in discussions when compiling for mips platforms
# But it probably works on x86 and ARM devices as well, we will see
[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
strip = true
debug = false
panic = "abort"
