[Unit]
Description=Embedded Nano Mesh Telemetry Daemon
After=docker.service
BindsTo=docker.service

[Service]
User=mesh
Group=mesh
ExecStartPre=/bin/sleep 30
ExecStart=/home/mesh/mesh-telemetry-daemon-rs
Type=simple

[Install]
WantedBy=multi-user.target
