[Unit]
Description=Meshtastic Telemetry Daemon
After=docker.service

[Service]
ExecStartPre=/bin/sleep 300
ExecStart=/home/debian/meshtastic-telemetry-daemon-rs
Type=simple

[Install]
WantedBy=multi-user.target
