name: Release
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
env:
  CRATE_NAME: meshtastic-telemetry-daemon-rs
  GITHUB_TOKEN: ${{ github.token }}
  RUST_BACKTRACE: 1
jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os-name: Linux_X86_64_MUSL
            runs-on: ubuntu-24.04
            build_target: x86_64-unknown-linux-musl
            strip_compress: true
            features: alpine

          - os-name: Linux_AARCH64_MUSL
            runs-on: ubuntu-24.04-arm
            build_target: aarch64-unknown-linux-musl
            strip_compress: true
            features: alpine

          - os-name: Linux_ARMV7_A8_NEON_GNU_HF
            runs-on: ubuntu-24.04
            build_target: armv7-unknown-linux-gnueabihf
            strip_compress: false
            features: beaglebone

          - os-name: Linux_ARMV8_A72_NEON_GNU_HF
            runs-on: ubuntu-24.04
            build_target: aarch64-unknown-linux-gnu
            strip_compress: false
            features: beaglebone
        toolchain:
          - nightly

    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          changelogFilePath: Changes.md
        if: ${{ matrix.platform.build_target == 'x86_64-unknown-linux-musl' }}
      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: "docs: update Changes.md for ${{ github.ref_name }} [skip ci]"
          file_pattern: Changes.md
        if: ${{ matrix.platform.build_target == 'x86_64-unknown-linux-musl' }}
      - name: Set up QEMU
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_MUSL_RUSTFLAGS: "-Zlocation-detail=none"
          CARGO_TARGET_X86_64_UNKNOWN_LINUX_MUSL_RUSTFLAGS: "-Zlocation-detail=none"
          CARGO_TARGET_MIPS_UNKNOWN_LINUX_MUSL_RUSTFLAGS: "-Zlocation-detail=none"
          CARGO_TARGET_ARMV7_UNKNOWN_LINUX_GNUEABIHF_RUSTFLAGS: "-Zlocation-detail=none -Ctarget-cpu=cortex-a8 -Ctarget-feature=+neon"
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_RUSTFLAGS: "-Zlocation-detail=none -Ctarget-cpu=cortex-a72 -Ctarget-feature=+neon"
          # stupid AARCH build fails to start build because of warnings building cross
          CROSS_NO_WARNINGS: 0
          # lmao armv7 build error
          RUST_MIN_STACK: 16777216
        with:
          command: build
          target: ${{ matrix.platform.build_target }}
          toolchain: nightly
          args: "--locked --features ${{ matrix.platform.features }} --no-default-features --release -Zbuild-std-features=optimize_for_size,panic_immediate_abort"
          cross-version: 50ccc96
          # this feelsbad, but should work?
          force-use-cross: ${{ matrix.platform.build_target == 'x86_64-unknown-linux-musl' || matrix.platform.build_target == 'armv7-unknown-linux-gnueabihf' || matrix.platform.build_target == 'aarch64-unknown-linux-musl' || matrix.platform.build_target == 'aarch64-unknown-linux-gnu' }}
      - name: Compress binaries
        uses: svenstaro/upx-action@v2
        if: ${{ matrix.platform.strip_compress }}
        with:
          files: |
            target/${{ matrix.platform.build_target }}/release/meshtastic-telemetry-daemon-rs
      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: meshtastic-telemetry-daemon-rs
          target: ${{ matrix.platform.build_target }}
          extra-files: |
            mesh-telem433.service
            mesh-telem915.service
            src/util/example_config.toml
            92-usb-input-no-powersave.rules
            install.sh
